// estilos globales de la pagina
body{
    font-family: $Primary-font-family-sans-serif;
    overflow-x: hidden;
}


*{
    font-family: $Primary-font-family-sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


h1,h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::selection{
    background-color: $yellow;
    color: #fff;
}


html{
    font-size:62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background-color: #333;
}

html::-webkit-scrollbar-thumb{
    background-color: $yellow;
}

// style of header aplication
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    padding:1.5rem 10%;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    height: 5rem;
}

header .narbar ul{
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
}

header .narbar ul li{
    margin-left: 3rem;
}

header .narbar ul li a{
    font-size:1.9rem;
    color: #666;
}

header .narbar ul li a.active,
header .narbar ul li a:hover{
    color: $yellow;
}

header #menu-bar{
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}

@media(max-width:768px){
 

    header #menu-bar{
        display: block;

    }
    header .narbar{
        position: fixed;
        top: 8rem;
        left:0;
        width: 100%;
        background:$yellow;
        border-top: .2rem solid rgba(0,0,0,.1);
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    header .narbar ul{
        flex-flow: column;
        padding: 2rem;
    }

    header .narbar ul li{
        margin: 1.5em;
        width: 100%;
    }

    header .narbar ul li a{
        display: block;
        color: #fff;
        padding-left: 2rem;
        border-left:.2rem solid #fff;
        font-size:2rem;
    }

    header .narbar ul li a.active,
    header .narbar ul li a:hover{
    color: #333;
    border-color: #333;
}

.fa-times{
    transform:rotate(180deg);
}

 header .narbar.nav-toggle{
     transform: scaleY(1);
     opacity: 1;
 }
}


// style section of aplication

section{
    min-height :100vh ;
    padding: 1rem 10%;
    padding-top: 8.5rem;
}

.home{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.home::before,
.home::after{
    content:'';
    position: absolute;
    background-color:$yellow;
    top:5rem;
    right: -6rem;
    border-radius: 3rem;
    transform: rotate(-45deg);
    height:40rem;
    width: 70rem;
    z-index: -2;
    animation: animate 1s linear 1;
}

@keyframes animate{
    0%{
        transform: rotate(45deg) translateY(-40rem);
    }
}

.home::before{
    top:-7rem;
    background-color: #fff;
    box-shadow: 0 1rem 4rem rgba(0,0,0,.1);
    z-index: -1;
}

.home .image{
    flex:1 1 39rem;
}

.home .image img {
    width: 100%;
}

.home .content{
    flex: 1 1 39rem;
}

@media(max-width:768px){
    
.home .content{
    align-items: center;
}

.home .content h3{
    font-size:4.3rem;
}
}


@media(max-width:768px){
html{
    font-size:50%
}
}

.home .content h3{
    color: #333;
    font-size: 6rem;
}

.home .content p{
    color: #333;
    font-size: 2rem;
    padding: 0.7rem 0;
}

.btn{
    font-size: 1.7rem;
    padding: .7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background:none;
    color: #333;
    cursor: pointer;
    border: .2rem solid $yellow;
}

.btn:hover{
    background:$yellow;
}

@media(max-width:991px){
    html{
        font-size:55%;
     
    }
    .home::before,
    .home::after{
        display: none;
    }
}



// about section

.about{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.about .imagen
{
    flex: 1 1 40rem;
    height:50rem;
    background: url(../img/about-frame-img.png),url(../img/about-img.jpg),no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
}

.about .content{
    flex: 1 1 40rem;
    padding: 2rem;
}

.about .content h3{
    font-size:4rem;
    color:#333; 
}

.about .content p{
    font-size: 1.5rem;
    color:#666;
    padding:1rem 0; 
}


// section menu

.heading{
    text-align:center;
    font-size:4rem;
    padding:0 .5rem;
    color:#333;
}

.heading span{
    color:$yellow;    
}

.menu .list{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    list-style: none;
    padding:1rem 0;
    margin: 2rem  0;
    border-bottom: .3rem dashed rgba(0,0,0,.2);
    border-top: .3rem dashed rgba(0,0,0,.2);
}

.menu .list .btn{
    margin: 1rem;
}

.menu .list .btn.active,
.menu .list .btn:hover{
    background-color: $yellow;
    color: #fff;
}

.menu .rows{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.menu .rows .image{
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    flex: 1 1 40rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.menu .rows .image img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}


.menu .rows .content{
    flex: 1 1 40rem;
}

.menu .rows .content .info{
    padding: 1rem 0;
}

.menu .rows .content .info h3{
   display: flex;
   align-items: center;
   justify-content: center; 
   font-size: 2.4rem;
   color: #333;
}

.menu .rows .content .info h3 span{
    padding-right: 1rem;
    color:$yellow;
}

.menu .rows .content .info p{
    padding: 1rem 0;
    padding-left: 4.5rem;
    font-size: 1.5rem;
    color: #666;
}

// section popular 
.popular{
    background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)),url(../img/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed ;   
}

.popular .box-container .box{
    background: #fff;
    width: 35rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    text-align: center;
}

.popular .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.popular .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.popular .box-container .box h3{
    color: #333;
    font-size: 3rem;
    font-weight: normal;
}

.popular .box-container .box .starts i{
    color: $yellow;
    font-size: 2rem;
    padding: 1rem .1rem;
}

.popular .box-container .box  .price{
    color: #666;
    font-size: 2.5rem;
}

.popular .box-container .box:hover{
    transform: scale(1.02);
    box-shadow: 0.1rem .1rem rgba(0, 0, 0, .2);
}


@media (max-width:500px) {
    section{
        padding: 1rem 5%;
        padding-top: 8.5rem;
    }
}

//section gallery


.gallery .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   
}

.gallery .box-container .box{
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    cursor: pointer;
    position: relative;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box h3{
    position: absolute;
    top:100%; left:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    text-align: center;
    font-size: 3rem;
    opacity: 0;
}

.gallery .box-container .box:hover h3{
    top:50%;
    opacity: 1;
    transition-delay: .2s;
}

.gallery .box-container .box::before{
    content: '';
    position: absolute;
    top:-20%; left:0;
    height:100%;
    width: 100%;
    background:rgba(0,0,0,.75);
    transition:.2s linear;
    opacity: 0;
    
}

.gallery .box-container .box:hover::before{
    top:0;
    opacity: 1;
}


// section order
.order{
    background: url(../img/contactform.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}



.order  .rows{
    display: flex;
    background-color: #fff;
    margin: 2rem 0;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: 1rem;
}

.order .rows .image{
    flex: 1 1 40%;
}

.order .rows .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.order .rows form {
    flex: 1 1 60%;
    background: #fff;
    padding: 2rem;
}

.order .rows form .box{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #333;
    width: 100%;
    background-color: #f0f0f0;
    text-transform: none;
}

.order .rows form .address{
    resize: none;
    height: 15rem;
}

.order .rows form .box::placeholder{
    text-transform: capitalize;
}

@media(max-width:781px){
    .order .rows .image{
        display: none;
    }
}

// section footer

.footer{
    background-color: #282727;
    padding: 1rem 7%;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.footer .box-container .box a{
    font-size: 1.8rem;
    color: #eee;
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color: $yellow;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color: $yellow;
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .2rem solid rgba(255,255,255,.7);
    padding: 2rem 1rem;
    letter-spacing: .1rem;
    font-weight: normal;
    color: #fff;
}

.footer .credit a{
    color: $yellow;
}

// estilos del nombre ligon
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  
  .dropup,
  .dropright,
  .dropdown,
  .dropleft {
    position: relative;
  }

.dropdown-menu.show {
  display: block;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  
