// Bootstrap
@import '~bootstrap/scss/bootstrap';

//font
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.navbar-brand{
    color: white !important;
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;

    &:hover{
        color: white;
    }
}